$white: #ffffff;
$black: #000000;
$red: #ff3f60;
$grayLight: #8a8a8a;
$gray: #878787;
$tundora: #474747;
$mineShaft: #393939;
$mineShaft2: #272727;

%athena {
  font-family: 'AthenaOfTheOcean', sans-serif;
  font-weight: 400;
}

%rupee {
  font-family: 'EnglishWithIndianRupee', sans-serif;
  font-weight: 400;
}

%montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

%montserrat-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

%montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}